<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="IMenuName" value="Homework_4.Menu.Service,Homework_4.Menu.Service.LiHaoChaoLaRou"/>
  </appSettings>
</configuration>